@model IEnumerable<MvcLabManager.Models.Computer>
@{
    ViewData["Title"] = "Computadores";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum computador cadastrado</p>
    <a class="btn btn-outline-dark" asp-controller="Computer" asp-action="Add">Cadastre um novo computador</a>
}
else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ram</th>
                <th>Processor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var computer in Model)
            {
                <tr>
                    <td>@computer.Id</td>
                    <td>@computer.Ram</td>
                    <td>@computer.Processor</td>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Computer" asp-action="Show" asp-route-id="@computer.Id">Ver</a>
                        <a class="btn btn-outline-light" asp-controller="Computer" asp-action="Update" asp-route-id="@computer.Id">Update</a>
                        <a class="btn btn-outline-danger" asp-controller="Computer" asp-action="Delete" asp-route-id="@computer.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-dark" asp-controller="Computer" asp-action="Add">Cadastre um novo computador</a>
}
