@model MvcLabManager.Models.Computer
@{
    ViewData["Title"] = "Atualizar Computador";
}
<h1>@ViewData["Title"]</h1>

<p>Utilize o formulário para Atualizar o computador</p>

<form class="form" asp-controller="Computer" asp-action="Update" asp-route-id="@Model.Id" method="POST">
    
    <label for="Ram">Ram</label>
    <input type="text" id="Ram" value="@Model.Ram" name="Ram" asp-for="@Model.Ram">
    <span asp-validation-for="@Model.Ram" class="text-danger"></span>

    <label for="Processor">Processor</label>
    <input type="text" id="Processor" value="@Model.Processor" name="Processor" asp-for="@Model.Processor">
    <span asp-validation-for="@Model.Processor" class="text-danger"></span>

    <input class="submit" type="submit" value="Atualizar">
</form>