@model MvcLabManager.Models.Lab
@{
    ViewData["Title"] = "Cadastrar Lab";
}
<h1>@ViewData["Title"]</h1>
<p>Utilize o formulário para Cadastrar um laboratório</p>

<form class="form" asp-controller="Lab" asp-action="Add" method="POST">
    
    <label for="Number">Number</label>
    <input type="number" asp-for="@Model.Number" id="Number" name="Number">
    <span asp-validation-for="@Model.Number" class="text-danger"></span>

    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name" asp-for="@Model.Name">
    <span asp-validation-for="@Model.Name" class="text-danger"></span>

    <label for="Block">Block</label>
    <input type="text" id="Block" name="Block" asp-for="@Model.Block">
    <span asp-validation-for="@Model.Block" class="text-danger"></span>

    <input class="submit" type="submit" value="Adicionar">
</form>