@model IEnumerable<MvcLabManager.Models.Lab>
@{
    ViewData["Title"] = "Labs";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum laboratório  cadastrado</p>
    <a class="btn btn-outline-dark" asp-controller="Lab" asp-action="Add">Cadastre um novo laboratório</a>
}
else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Block</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var lab in Model)
            {
                <tr>
                    <td>@lab.Id</td>
                    <td>@lab.Number</td>
                    <td>@lab.Name</td>
                    <td>@lab.Block</td>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Lab" asp-action="Show" asp-route-id="@lab.Id">Ver</a>
                        <a class="btn btn-outline-light" asp-controller="Lab" asp-action="Update" asp-route-id="@lab.Id">Update</a>
                        <a class="btn btn-outline-danger" asp-controller="Lab" asp-action="Delete" asp-route-id="@lab.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-dark" asp-controller="Lab" asp-action="Add">Cadastre um novo laboratório</a>
}